<h1>Works</h1>

<section class="works_index">
  <div class="homeru content">
    <div class="row">
      <%= image_tag 'スクリーンショット 2020-01-03 4.10.29.png', class: 'works_image col-md-8 col-sm-6 col-xs-12' %>
      <div class="explanation col-md-4 col-sm-6 col-xs-12">
        <span>
          <h3>『Homeru』</h3>
          <p>・写真投稿アプリ</p>
          <p>・12月21日-12月31日</p>
          <p>・制作期間 10日</p>
          <p>・コンセプトは『褒めてもらえる場所を作る』</p>
          <p>・コメントにNGワードの設定、お気に入り機能などはログイン後にしかできないようにしました。</p>
          <p>・投稿ソート、検索機能の実装に苦戦しました。</p>
        </span>
      </div>
    </div>
  </div>
  <div class="E-Chat content">
    <div class="row">
      <%= image_tag 'スクリーンショット 2020-01-03 4.11.16.png', :rel => "lightbox", class: 'works_image col-md-8 col-sm-6 col-xs-12'  %>
      <div class="explanation col-md-4 col-sm-6 col-xs-12">
        <span>
        <h3>『E-Chat』</h3>
        <p>・チャットアプリ</p>
        <p>・11月中旬~</p>       
        <p>・制作期間 約３週間</p>
        <p>・コンセプトは『誰でも参加できるチャットスペース』</p>
        <p>・チャットルームの作成、管理者ユーザーにのみルーム削除権限を付けました。</p>
        <p>・Actioncableの機能把握、Ajaxとturbolinksの仕様理解に時間がかかりました。</p>
        </span>
      </div>
    </div>
  </div>
  <div class="media_a content">
    <div class="row">
      <%= image_tag 'スクリーンショット 2020-01-03 4.12.48.png', class: 'works_image col-md-8 col-sm-6 col-xs-12'  %>
       <div class="explanation col-md-4 col-sm-6 col-xs-12">
        <span>
        <h3>『MediA』</h3>
        <p>・写真投稿アプリ</p>
        <p>・10月初旬~</p>
        <p>・制作期間 約１ヶ月</p>
        <p>・コンセプトは『シンプルな記事投稿サイト』</p>
        <p>・基本的なCRUD機能、画像アップロード機能などを実装しました。</p>
        <p>・CRUDの動き、メソッドなど基本的なもの全てに苦戦しました。</p>
        </span>
      </div>
    </div>
  </div>
</section>
