<h1>Works</h1>

<section class="works_index">
  <div class="kintaikun content">
    <div class="row">
      <%= image_tag 'スクリーンショット 2020-02-03 13.04.56.png', class: 'works_image db-block w-100' %>
      <div class="explanation">
          <h3>『Homeru』</h3>
          <p>・勤怠管理アプリ</p>
          <p>・1月13日-1月31日</p>
          <p>・制作期間 約３週間</p>
          <p>・コンセプトは『楽するためのアプリ』</p>
          <p>・各月のイベント、時間（分、時間）を計算できるようにしました。</p>
          <p>・分から時間への変換、少数以下の表示に苦戦しました。</p>
          <p><a href="https://kintaikun01.herokuapp.com/" target="_blank">アプリに移動</a></p>
      </div>
    </div>
  </div>
  <div class="homeru content">
    <div class="row">
      <%= image_tag 'スクリーンショット 2020-01-03 4.10.29.png', class: 'works_image db-block w-100' %>
      <div class="explanation">
          <h3>『Homeru』</h3>
          <p>・写真投稿アプリ</p>
          <p>・12月21日-12月31日</p>
          <p>・制作期間 10日</p>
          <p>・コンセプトは『褒めてもらえる場所を作る』</p>
          <p>・コメントにNGワードの設定、お気に入り機能などはログイン後にしかできないようにしました。</p>
          <p>・投稿ソート、検索機能の実装に苦戦しました。</p>
          <p><a href="https://homeru913.herokuapp.com" target="_blank">アプリに移動</a></p>
      </div>
    </div>
  </div>
  <div class="E-Chat content">
    <div class="row">
      <%= image_tag 'スクリーンショット 2020-01-03 4.11.16.png', :rel => "lightbox", class: 'works_image db-block w-100'  %>
      <div class="explanation">
        <span>
        <h3>『E-Chat』</h3>
        <p>・チャットアプリ</p>
        <p>・11月中旬~</p>       
        <p>・制作期間 約３週間</p>
        <p>・コンセプトは『誰でも参加できるチャットスペース』</p>
        <p>・チャットルームの作成、管理者ユーザーにのみルーム削除権限を付けました。</p>
        <p>・Actioncableの機能把握、Ajaxとturbolinksの仕様理解に時間がかかりました。</p>
        <p><a href="https://e-chat111.herokuapp.com" target="_blank">アプリに移動</a></p>
        </span>
      </div>
    </div>
  </div>
  <div class="media_a content">
    <div class="row">
      <%= image_tag 'スクリーンショット 2020-01-03 4.12.48.png', class: 'works_image db-block w-100'  %>
       <div class="explanation">
        <span>
        <h3>『MediA』</h3>
        <p>・写真投稿アプリ</p>
        <p>・10月初旬~</p>
        <p>・制作期間 約１ヶ月</p>
        <p>・コンセプトは『シンプルな記事投稿サイト』</p>
        <p>・基本的なCRUD機能、画像アップロード機能などを実装しました。</p>
        <p>・CRUDの動き、メソッドなど基本的なもの全てに苦戦しました。</p>
        <p><a href="https://mediaf.herokuapp.com" target="_blank">アプリに移動</a></p>
        </span>
      </div>
    </div>
  </div>
</section>
