<h1>Contact</h1>
<div class="contact_intro text-center">
  <%= icon("far", "paper-plane", class: "paper_plane") %>
  <p>当サイトを訪れていただきまして誠にありがとうございます。</p>
  <p>質問などがございましたら、下記のフォームもしくはSNS(下記アイコン)よりご連絡ください。</p>
</div>
<div id="formWrapper">
  <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSe8XQt-AjGeR18K7vvykrMkHmjiTGLiEi2OuRuVlTkLhEu2Qw/formResponse" method="post" name="myForm" target="dummyIframe">
    <div class="contact_box">
      <label>お名前</label>
      <br>
      <input type="text" name="entry.2005620554" placeholder="山田 太郎" required/>
    </div>
    <div class="contact_box">
      <label>メールアドレス</label>
      <br>
      <input type="mail" name="entry.1045781291" placeholder="mail@example.com" required/>
    </div>
    <div class="contact_box">
      <label>質問・ご要望</label>
      <br>
      <textarea name="entry.839337160" placeholder="質問やご要望について" required></textarea>
    </div>
    <input class="btn btn-secondary" type="button" value="送信" onclick="submitForm()"/>
  </form>
  <iframe name="dummyIframe" style="display:none;"></iframe>
</div>
<div id="thxMessage" class="text-center" style="display:none;" >
  <p>お問い合わせありがとうございました。</p>
  <%= image_tag 'UNADJUSTEDNONRAW_thumb_18.jpg', class: 'contact_image' %>
</div>
<script>
  function submitForm(){
    document.myForm.submit();
    document.getElementById('formWrapper').style.display = 'none';
    document.getElementById('thxMessage').style.display = 'block';
  }
</script>







